/.vscode
/auto.py
/belxml
/biodata.txt
/contoh.py
/file-io
/fungsi.py
/gameku
/geckodriver.log
/giga.jpg
/grgrg.py
/imgKartun.py
/Kalkulator.py
/MWIetQRcd.png
/MyQRCode2.png
/onlinexamination
/percabanganif
/petkodnyoba.py
/tapgr.py
/webistesederhana.py